.App {
  text-align: center;
}

/*My CSS*/
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.results-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 45px;
  min-width: 80%;
  padding: 2%;
  margin: 5%;
}

.rule {
  border: solid 2px black;
  border-radius: 40%;
  margin-top: 5px 0px;
  width: 60%;
}

.primary-results {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.weather-icon {
  font-size: 75px;
  margin: 3vh 10vw;
}
