.App {
  text-align: center;
}

/* Fonts */
@font-face {
  font-family: title-font;
  src: url(fonts/Gochi_Hand/GochiHand-Regular.ttf);
}

/*My CSS*/

/*Background*/
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-size: cover;
  background-position: right;
}

/*Dynamic backgrounds*/
.cloudy {
  background-image: url("./background-photos/cloudy.jpg");
}
.rainy {
  background-image: url("./background-photos/rainy.jpg");
}
.snowy {
  background-image: url("./background-photos/snowy.jpg");
}
.stormy {
  background-image: url("./background-photos/stormy.jpg");
}
.sunny {
  background-image: url("./background-photos/sunny.jpg");
}

.title {
  font-family: title-font;
  font-size: 10vw;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 0 #000, -2px 2px 0 #000, 2px -2px 0 #000,
    -2px -2px 0 #000;
}

.search {
  display: flex;
  flex-direction: row;
  justify-items: center;
}

.searchbar {
  padding: 7px;
  margin: 3px;
  border: 2px black solid;
  border-radius: 60px;
}
.searchbutton {
  padding: 7px;
  margin: 3px;
  border: 2px black solid;
  border-radius: 60px;
}

.results-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
  border-radius: 45px;
  background-color: dimgrey;
  opacity: 0.85;
  min-width: 80%;
  padding: 2%;
  margin: 5%;
  color: white;
}

.city-selection {
  font-size: 7.5vw;
}

.rule {
  border: solid 2px black;
  border-radius: 40%;
  margin-top: 5px 0px;
  width: 60%;
}

.primary-results {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.temperature {
  font-size: 5vw;
}

.weather-icon {
  margin: 3vh 10vw;
}

/*Loading screen*/
.loading-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
}
